.header .logo__box {
  padding: 1rem;
  margin-bottom: 10rem;
  position: relative; }
  .header .logo__box-name {
    display: flex;
    justify-content: center;
    font-size: 40rem;
    font-weight: 800;
    letter-spacing: 9rem;
    margin-right: -9rem;
    color: #fff;
    opacity: 70%;
    text-align: center; }

.section-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px #c9c9c9 solid; }
  .section-nav .nav__links {
    width: 100%;
    display: flex;
    padding: 2rem;
    text-transform: uppercase;
    justify-content: space-around;
    list-style: none; }
  .section-nav .nav__item {
    font-size: 1.5rem;
    letter-spacing: 1rem; }

.section-about .about-container {
  padding: 0 40rem;
  margin-top: 30rem;
  margin-bottom: 33rem; }
  .section-about .about-container p {
    font-size: 1.6rem;
    padding: 2.25rem;
    letter-spacing: 0.3rem; }

.technologies__container {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  margin: 0 auto;
  padding: 8rem 0; }

.technologies__primary {
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: 0.6rem;
  justify-content: start;
  margin-bottom: 7rem;
  color: #fff; }

.technologies__cards {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem; }

.technologies__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.8rem;
  padding: 4.7rem 3.8rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: all 0.7s; }
  .technologies__card-logo {
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    width: 16rem;
    height: 100%;
    z-index: 100; }
  .technologies__card:hover {
    transform: translateY(-1.5rem) scale(1.02); }
  .technologies__card-description {
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: #777;
    font-weight: 400; }

.section-contact .contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 10rem;
  font-size: 1.6rem;
  color: #777;
  border-radius: 2px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.15); }

.section-contact .contact__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 auto;
  padding: 5rem 0; }
  .section-contact .contact__info-header {
    text-align: center;
    padding-bottom: 5rem; }
  .section-contact .contact__info-list {
    font-size: 2rem;
    justify-content: start; }
    .section-contact .contact__info-list--item {
      list-style: none;
      padding-bottom: 3rem; }

.section-contact .contact__anchor {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 0.3rem; }
  .section-contact .contact__anchor:link, .section-contact .contact__anchor:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
    font-size: 1.5rem;
    letter-spacing: 0.3rem; }

.section-contact .contact__link-details {
  text-transform: lowercase;
  color: #777;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding-left: 4rem; }

.section-contact .contact__form {
  padding: 10rem 15rem; }

.header {
  height: 100vh;
  width: 100%;
  margin-bottom: -6rem;
  background-image: linear-gradient(to bottom right, #ff6663, #f9c762);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  padding: 0 10rem; }
  .section-about__header {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 3rem; }

.technologies {
  background-image: linear-gradient(to right, #ff99b9, #f3d34a);
  margin: 0 auto;
  padding: 20rem 30rem; }

.section-contact {
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff;
  color: #777; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
  /* Button Animations */ }

.btn-text:hover {
  cursor: pointer;
  /* When hovering the button */ }

.style-icons {
  width: 50rem;
  height: 100%;
  font-weight: 100;
  opacity: 5%;
  z-index: -1; }

.section-about {
  position: relative; }

.section-about .icon-1 {
  position: absolute;
  top: -20%;
  left: 8%; }

.section-about .icon-2 {
  position: absolute;
  top: 9%;
  right: 8%; }

.technologies {
  position: relative; }
  .technologies .custom-shape-divider-top-1644641047 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0; }
  .technologies .custom-shape-divider-top-1644641047 svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 207px;
    transform: rotateY(180deg); }
  .technologies .custom-shape-divider-top-1644641047 .shape-fill {
    fill: #ffffff; }
  .technologies .custom-shape-divider-bottom-1644641071 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg); }
  .technologies .custom-shape-divider-bottom-1644641071 svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 207px;
    transform: rotateY(180deg); }
  .technologies .custom-shape-divider-bottom-1644641071 .shape-fill {
    fill: #ffffff; }

.technologies-container {
  position: relative; }
  .technologies-container .tech-icons {
    width: 50rem;
    height: 100%;
    font-weight: 100;
    opacity: 5%;
    z-index: -1; }
  .technologies-container .tech-icon-1 {
    position: absolute;
    top: -20%;
    left: 8%; }
  .technologies-container .tech-icon-2 {
    position: absolute;
    top: 9%;
    right: 8%; }

.html {
  position: relative;
  overflow: hidden; }
  .html .html__background {
    position: absolute;
    top: -8rem;
    left: -10rem;
    width: 25rem;
    height: 100%;
    opacity: 3%; }

.css {
  position: relative;
  overflow: hidden; }
  .css .css__background {
    position: absolute;
    top: 7rem;
    left: 7rem;
    width: 25rem;
    height: 100%;
    opacity: 3%; }

.js {
  position: relative;
  overflow: hidden; }
  .js .js__background {
    position: absolute;
    top: -3rem;
    left: 7rem;
    width: 25rem;
    height: 100%;
    opacity: 3%; }

.sass {
  position: relative;
  overflow: hidden; }
  .sass .sass__background {
    position: absolute;
    top: 12rem;
    left: -1.1rem;
    width: 25rem;
    height: 100%;
    opacity: 3%; }

.react {
  position: relative;
  overflow: hidden; }
  .react .react__background {
    position: absolute;
    top: 9rem;
    left: -10rem;
    width: 25rem;
    height: 100%;
    opacity: 3%; }
