.header .logo__box {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 40rem;
  font-weight: 800;
  letter-spacing: 9rem;
  padding: 17.3rem 0 17.3rem 0;
  margin-right: -9rem;
  color: #fff;
  opacity: 80%;
  text-align: center;
  margin: auto; }

.section-nav .nav__links {
  width: 100%;
  display: flex;
  padding: 2.5rem;
  text-transform: uppercase;
  justify-content: space-around;
  list-style: none; }

.section-nav .nav__item {
  font-size: 1.6rem;
  letter-spacing: 1rem; }

.sticky {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9); }

.section-about .about-container {
  margin: 0 auto;
  max-width: 95rem;
  align-items: center;
  padding: 40rem 0; }
  .section-about .about-container p {
    font-size: 1.6rem;
    padding: 2.25rem;
    letter-spacing: 0.3rem; }

.technologies__container {
  max-width: 100%;
  margin: 0 auto;
  padding: 8rem 0; }

.technologies__primary {
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  justify-content: start;
  margin-bottom: 7rem;
  color: #fff;
  transition: all 0.4s; }
  .technologies__primary:hover {
    transform: translateY(-1.5rem) scale(1.02); }

.technologies__cards {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr); }

.technologies__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.6rem;
  padding: 3.2rem 2.8rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: all 0.5s; }
  .technologies__card-logo {
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    width: 12rem;
    height: 100%;
    z-index: 100; }
  .technologies__card:hover {
    transform: translateY(-0.8rem) scale(1.02); }
  .technologies__card-description {
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: #777;
    font-weight: 400; }

.section-contact .contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
  padding: 6rem 8rem;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 3px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25); }
  .section-contact .contact__container .contact__header {
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 0.6rem;
    font-weight: 800; }
  .section-contact .contact__container .contact__leftright {
    display: flex;
    padding-top: 4rem;
    gap: 8rem; }
  .section-contact .contact__container .contact__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 4rem 4rem;
    background-color: #fff;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 3px; }
    .section-contact .contact__container .contact__info-header {
      text-align: center;
      padding-bottom: 5rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem; }
    .section-contact .contact__container .contact__info-list {
      font-size: 2rem;
      justify-content: start; }
      .section-contact .contact__container .contact__info-list--item {
        list-style: none;
        padding-bottom: 5rem; }
    .section-contact .contact__container .contact__info-anchor {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 1.5rem;
      margin-bottom: 0.3rem; }
      .section-contact .contact__container .contact__info-anchor:link, .section-contact .contact__container .contact__info-anchor:visited {
        text-transform: uppercase;
        text-decoration: none;
        color: #777;
        font-size: 1.5rem;
        letter-spacing: 0.3rem; }
    .section-contact .contact__container .contact__info-link--details {
      text-transform: lowercase;
      color: #777;
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
      padding-left: 4rem; }
  .section-contact .contact__container .contact__form {
    margin: 0 auto; }
    .section-contact .contact__container .contact__form-secondary {
      text-align: center;
      padding-bottom: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem; }
    .section-contact .contact__container .contact__form-signup {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 5rem;
      row-gap: 3rem; }
      .section-contact .contact__container .contact__form-signup label {
        display: block;
        padding-bottom: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        letter-spacing: 0.3rem; }
      .section-contact .contact__container .contact__form-signup input,
      .section-contact .contact__container .contact__form-signup textarea,
      .section-contact .contact__container .contact__form-signup select {
        color: #777;
        max-width: 100%;
        padding: 1.2rem;
        font-size: 1.3rem;
        font-style: italic;
        font-family: inherit;
        border: none;
        border-radius: 1px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
      .section-contact .contact__container .contact__form-signup__form *:focus {
        outline: none; }
      .section-contact .contact__container .contact__form-signup .form-textbox {
        text-align: center;
        grid-column: 1 / 3; }
        .section-contact .contact__container .contact__form-signup .form-textbox textarea {
          width: 90%;
          height: 75px;
          padding: 12px 20px;
          resize: none; }
          .section-contact .contact__container .contact__form-signup .form-textbox textarea:active {
            border: none; }
      .section-contact .contact__container .contact__form-signup .btn {
        grid-column: 1 / 3;
        max-width: 100%;
        height: 5rem;
        padding: 12px 20px;
        border: none;
        background-color: #fcfcfc;
        color: #777;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        transition: all 0.3s; }
        .section-contact .contact__container .contact__form-signup .btn:hover {
          background-color: #ffe388;
          -webkit-transition: background-color 300ms linear;
          -ms-transition: background-color 300ms linear;
          transition: background-color 300ms linear; }

.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px #c9c9c9 solid;
  z-index: 2000; }

.section-about {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto; }
  .section-about__header {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 3rem; }

.technologies {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10rem auto;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); }

.section-contact {
  margin: 0 auto;
  padding: 15rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }

::root {
  --color-primary: #777;
  --color-white: #fff;
  --color-primary-dark: #ba265d; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff;
  color: #777; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
  /* Button Animations */ }

.btn-text:hover {
  cursor: pointer;
  /* When hovering the button */ }

#zeroPad {
  padding-bottom: 0; }

.style-icons {
  width: 50rem;
  height: 100%;
  font-weight: 100;
  opacity: 7%;
  z-index: -1; }

.section-about {
  position: relative; }

.section-about .icon-1 {
  position: absolute;
  top: -20%;
  left: 15%; }

.section-about .icon-2 {
  position: absolute;
  top: 20%;
  right: 15%; }

.technologies {
  position: relative; }
  .technologies .custom-shape-divider-top-1645678340 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0; }
  .technologies .custom-shape-divider-top-1645678340 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 139px; }
  .technologies .custom-shape-divider-top-1645678340 .shape-fill {
    fill: #ffffff; }

.technologies-container {
  position: relative; }
  .technologies-container .tech-icons {
    width: 50rem;
    height: 100%;
    font-weight: 100;
    opacity: 5%;
    z-index: -1; }
  .technologies-container .tech-icon-1 {
    position: absolute;
    top: -20%;
    left: 8%; }
  .technologies-container .tech-icon-2 {
    position: absolute;
    top: 9%;
    right: 8%; }

.html {
  position: relative;
  overflow: hidden; }
  .html .html__background {
    position: absolute;
    top: -8rem;
    left: -10rem;
    width: 25rem;
    height: 100%;
    opacity: 3%; }

.css {
  position: relative;
  overflow: hidden; }
  .css .css__background {
    position: absolute;
    top: 7rem;
    left: 7rem;
    width: 25rem;
    height: 100%;
    opacity: 3%; }

.js {
  position: relative;
  overflow: hidden; }
  .js .js__background {
    position: absolute;
    top: -3rem;
    left: 7rem;
    width: 25rem;
    height: 100%;
    opacity: 3%; }

.sass {
  position: relative;
  overflow: hidden; }
  .sass .sass__background {
    position: absolute;
    top: 12rem;
    left: -1.1rem;
    width: 25rem;
    height: 100%;
    opacity: 3%; }

.react {
  position: relative;
  overflow: hidden; }
  .react .react__background {
    position: absolute;
    top: 9rem;
    left: -10rem;
    width: 25rem;
    height: 100%;
    opacity: 3%; }

.tailwind {
  position: relative;
  overflow: hidden; }
  .tailwind .tailwind__background {
    position: absolute;
    top: -3rem;
    left: -3rem;
    width: 25rem;
    height: 100%;
    opacity: 3%; }

.gmail-icon,
.linkedin-icon,
.phone-icon {
  width: 2.5rem;
  height: 100%; }
