.header .logo__box {
  padding: 1rem;
  margin-bottom: 10rem;
  position: relative; }
  .header .logo__box-name {
    display: flex;
    justify-content: center;
    font-size: 40rem;
    font-weight: 800;
    letter-spacing: 9rem;
    margin-right: -9rem;
    color: #fff;
    opacity: 50%;
    text-align: center; }

.section-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px #c9c9c9 solid; }
  .section-nav .nav__links {
    width: 100%;
    display: flex;
    padding: 2rem;
    text-transform: uppercase;
    justify-content: space-around;
    list-style: none; }
  .section-nav .nav__item {
    font-size: 1.5rem;
    letter-spacing: 1rem; }

.tilt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg); }

.tilt svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 312px;
  transform: rotateY(180deg); }

.tilt .shape-fill {
  fill: #ffffff; }

.section-about .about-container {
  margin: 0 auto;
  padding: 0 40rem; }
  .section-about .about-container p {
    font-size: 1.5rem;
    padding: 2.25rem;
    letter-spacing: 0.3rem; }

.technologies__primary {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 1rem;
  padding: 0 2rem 0 2rem;
  margin-bottom: 10rem;
  text-align: center; }

.technologies__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 3.5rem 3rem;
  box-shadow: 0 3rem 6rem rgba(119, 119, 119, 0.15);
  background-color: #fff;
  transition: all 0.3s; }
  .technologies__box-logo {
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 15rem;
    height: 100%; }
  .technologies__box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .technologies__box-description {
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: #777;
    font-weight: 400; }

.header {
  height: 100vh;
  width: 100%;
  margin-bottom: -6rem;
  background-image: linear-gradient(to bottom right, #ff6663, #f9c762);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  padding: 0 10rem;
  margin-top: 15rem;
  margin-bottom: 25rem; }
  .section-about__header {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 3rem; }

.technologies {
  margin-bottom: 25rem; }
  .technologies__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff;
  color: #777; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
  /* Button Animations */ }

.btn-text:hover {
  cursor: pointer;
  /* When hovering the button */ }

.style-icons {
  width: 45rem;
  height: 100%;
  font-weight: 100;
  opacity: 5%;
  z-index: -1; }

.main-container {
  position: relative; }
  .main-container .section-about .icon-1 {
    position: absolute;
    top: -30%;
    left: 8%; }
  .main-container .section-about .icon-2 {
    position: absolute;
    top: -10%;
    right: 11%; }
