.header {
  &__primary {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    text-transform: uppercase;

    justify-content: center;
  }
  &__firstName {
    //   Empty
  }
  &__secondName {
    margin-left: 16rem;
  }

  &__navigation {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .navigation > * {
    flex-shrink: 1;
  }

  &__navigation-navitem {
    font-size: 1.5rem;
    animation: moveInUp 0.8s 0.1s;
    transition: all 0.2s;
    cursor: pointer;
  }
}

// About ME
.about {
  &__primary {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 2.3rem;
    padding: 0 2rem 0 2rem;
    margin-bottom: 5rem;
    text-align: center;

    transition: all 0.2s;

    // background-image: linear-gradient(to right, #ffe030, #ffb900);
    // color: transparent;
    // -webkit-background-clip: text;
  }
  &__secondary {
    font-size: 1.5rem;
    padding: 0 2rem 0 2rem;
    letter-spacing: 0.3rem;

    &-intro {
      text-align: center;
      font-size: 2rem;
      line-height: 5rem;
      margin-bottom: 2rem;

      span {
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    &-description {
      font-size: 2rem;
      letter-spacing: 0.3rem;
      line-height: 5rem;
      margin-bottom: 3rem;
    }
  }
}

// Technologies

.technologies {
  &__primary {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 2.3rem;
    padding: 0 2rem 0 2rem;
    margin-bottom: 5rem;
    text-align: center;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__card {
    border: solid 2px black;
  }
  &__box {
    background-color: blanchedalmond;
    padding: 2rem;
    &-icon {
      margin-bottom: 3rem;
      background-color: white;
      padding: 10rem;
    }
    &-description {
      background-color: white;
      padding: 10rem;
    }
  }
}

// Button
.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;

    /* Button Animations */
    transition: all 0.2s;
    animation: moveInUp 0.8s 0.1s;
  }

  &:hover {
    /* When hovering the button */
    letter-spacing: 0.2rem;
    // box-shadow: 0 1rem 2rem rgba(#323031, 0.2);
  }
}
