.header {
  .logo__box {
    padding: 1rem;
    margin-bottom: 10rem;
    position: relative;
    &-name {
      display: flex;
      justify-content: center;
      font-size: 40rem;
      font-weight: 800;
      letter-spacing: 9rem;
      margin-right: -9rem;
      // color: #0a0b0a;
      color: #fff;
      opacity: 50%;
      text-align: center;
    }
  }
}
.main-container {
}

.section-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // background-color: #0a0b0a;
  background-color: #fff;
  border-bottom: 1px rgb(201, 201, 201) solid;

  .nav__links {
    width: 100%;
    display: flex;
    padding: 2rem;
    text-transform: uppercase;
    justify-content: space-around;
    list-style: none;
  }
  .nav__item {
    font-size: 1.5rem;
    letter-spacing: 1rem;
  }
}

// About ME
.section-about {
  .about-container {
    padding: 0 40rem;
    margin-top: 30rem;
    margin-bottom: 33rem;

    p {
      font-size: 1.6rem;
      padding: 2.25rem;
      letter-spacing: 0.3rem;
    }
  }
}

// Technologies
.technologies {
  &__container {
    display: flex;
    flex-direction: column;
    background-color: bisque;
  }
  &__primary {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1rem;
    text-align: center;
    margin-bottom: 10rem;
    padding: 2rem;
  }
  &__cards {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 2px;
    font-size: 1.5rem;
    padding: 3.5rem 3rem;

    box-shadow: 0 3rem 6rem rgba(#777, 0.15);
    background-color: #fff;
    transition: all 0.3s;

    &-logo {
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;

      width: 15rem;
      height: 100%;
    }

    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }
    &-description {
      justify-content: center;
      font-size: 2rem;
      letter-spacing: 0.2rem;
      color: #777;
      font-weight: 400;
      // background-color: aqua;
    }
  }
}
