.header {
  .logo__box {
    padding: 1rem;
    margin-bottom: 10rem;
    position: relative;
    &-name {
      display: flex;
      justify-content: center;
      font-size: 40rem;
      font-weight: 800;
      letter-spacing: 9rem;
      margin-right: -9rem;
      // color: #0a0b0a;
      color: #fff;
      opacity: 70%;
      text-align: center;
    }
  }
}

.section-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // background-color: #0a0b0a;
  background-color: #fff;
  border-bottom: 1px rgb(201, 201, 201) solid;

  .nav__links {
    width: 100%;
    display: flex;
    padding: 2rem;
    text-transform: uppercase;
    justify-content: space-around;
    list-style: none;
  }
  .nav__item {
    font-size: 1.5rem;
    letter-spacing: 1rem;
  }
}

// About ME
.section-about {
  .about-container {
    padding: 0 40rem;
    margin-top: 30rem;
    margin-bottom: 33rem;

    p {
      font-size: 1.6rem;
      padding: 2.25rem;
      letter-spacing: 0.3rem;
    }
  }
}

// Technologies
.technologies {
  &__container {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    margin: 0 auto;
    padding: 8rem 0;
  }
  &__primary {
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 0.6rem;
    text-transform: uppercase;

    // text-align: center;
    justify-content: start;
    margin-bottom: 7rem;
    // padding: 2rem;
    color: #fff;
  }
  &__cards {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 2px;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.8rem;
    padding: 4.7rem 3.8rem;

    box-shadow: 0 3rem 5rem rgba(black, 0.15);
    // opacity: 95%;
    background-color: #fff;
    transition: all 0.7s;

    &-logo {
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;

      width: 16rem;
      height: 100%;
      z-index: 100;
    }

    &:hover {
      transform: translateY(-1.5rem) scale(1.02);
    }
    &-description {
      justify-content: center;
      font-size: 2rem;
      letter-spacing: 0.2rem;
      color: #777;
      font-weight: 400;
    }
  }
}

// Contact Me
.section-contact {
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5rem;

    font-size: 1.6rem;

    color: #777;
    border-radius: 2px;
    box-shadow: 0 1rem 3rem rgba(black, 0.15);

    .contact__header {
      text-transform: uppercase;
      font-size: 3.5rem;
      letter-spacing: 0.6rem;
      font-weight: 800;
      opacity: 50%;
    }

    .contact__leftright {
      display: flex;
      padding-top: 4rem;
    }

    // LEFT SIDE OF CONTACT
    .contact__info {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      margin: auto;
      padding: 0 8rem;

      &-header {
        text-align: center;
        padding-bottom: 5rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
      }

      &-list {
        font-size: 2rem;
        justify-content: start;
        // text-align: center;
        &--item {
          list-style: none;
          padding-bottom: 5rem;
        }
      }
      &-anchor {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 0.3rem;
        &:link,
        &:visited {
          text-transform: uppercase;
          text-decoration: none;
          color: #777;
          font-size: 1.5rem;
          letter-spacing: 0.3rem;
        }
      }
      &-link--details {
        text-transform: lowercase;
        color: #777;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        padding-left: 4rem;
      }
    }

    // RIGHT SIDE OF CONTACT
    .contact__form {
      margin: 0 auto;
      padding: 0 7rem;

      &-secondary {
        text-align: center;
        padding-bottom: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
      }
      &-signup {
        // display: flex;
        // flex-direction: column;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
        row-gap: 3rem;
        text-align: center;
        align-items: center;

        label {
          display: block;
          margin-bottom: 1rem;
          text-transform: uppercase;
          text-decoration: none;
          color: #777;
          font-size: 1.5rem;
          letter-spacing: 0.3rem;
        }

        input,
        select {
          color: inherit;
          width: 90%;
          padding: 1.2rem;
          font-size: 1.3rem;
          font-style: italic;
          font-family: inherit;
          border: none;
          border-radius: 1px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        &__form *:focus {
          outline: none;
          box-shadow: 0 0 0 0.3rem rgba(255, 250, 246, 0.5);
        }

        .form-textbox {
          text-align: center;
          grid-column: 1 / 3;

          textarea {
            width: 90%;
            height: 75px;
            padding: 12px 20px;
            resize: none;
          }
        }
        .btn {
          grid-column: 1 / 4;
          width: 90%;
          height: 5rem;
          padding: 12px 20px;
          border: none;
          background-color: rgb(252, 252, 252);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

          transition: all 2s;

          &:hover {
            background-color: #ffd7d7;
            -webkit-transition: background-color 1000ms linear;
            -ms-transition: background-color 1000ms linear;
            transition: background-color 1000ms linear;
          }
        }
      }
    }
  }
}
