/////////////////// HEADER  ///////////////////////
.header {
  .logo__box {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 40rem;
    font-weight: 800;
    letter-spacing: 9rem;
    padding: 17.3rem 0 17.3rem 0;
    margin-right: -9rem;
    color: #fff;
    opacity: 0.7;
    text-align: center;
    margin: auto;
    z-index: 200;
  }
}

// Video Section

.bg-video {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // z-index: -1;
  opacity: 0.7;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.section-nav {
  .nav__links {
    width: 100%;
    display: flex;
    padding: 2.5rem;
    text-transform: uppercase;
    justify-content: space-around;
    list-style: none;
  }
  .nav__item {
    font-size: 1.6rem;
    letter-spacing: 1rem;
  }
}
