// Header section -------------------------------------------
.header {
  height: 95vh;
  width: 100%;
  margin: 0;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 99%);
}

.section-nav {
  margin: 0 auto;
  width: 100%;

  background-color: #fff;
  border-bottom: 1px rgb(201, 201, 201) solid;
  z-index: 2000;
}
// About Section
.section-about {
  display: flex;
  // position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;

  &__header {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 3rem;
  }
}

// Technology section -------------------------------------------
.technologies {
  display: flex;
  justify-content: center;
  align-items: center;

  // position: fixed;
  left: 0;
  right: 0;
  margin: 5rem auto;
  padding: 8rem 0;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.section-projects {
  margin-top: 10rem;
  border-bottom: 0.2px solid rgb(223, 223, 223);

  .projects-secondary {
    font-size: 3.2rem;
    font-weight: 100;
    letter-spacing: 1rem;
    text-transform: uppercase;
  }
}

// Contact section -------------------------------------------
.section-contact {
  margin: 0 auto;
  padding: 15rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f7f7f7;
}
