// Header section -------------------------------------------
.header {
  height: 100vh;
  width: 100%;

  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: #fff;
  border-bottom: 1px rgb(201, 201, 201) solid;
  z-index: 2000;
}
// About Section
.section-about {
  display: flex;
  // position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  // justify-content: center;
  // align-items: center;
  // color: #777;
  // padding: 10rem 10rem;
  // margin-bottom: -8rem;

  // border-bottom: 2px solid #777;

  &__header {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 3rem;
  }
}

// Technology section -------------------------------------------
.technologies {
  display: flex;
  // position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 8rem 0;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.section-projects {
  margin-top: 10rem;
  .projects-secondary {
    font-size: 3.2rem;
    font-weight: 100;
    letter-spacing: 1rem;
    text-transform: uppercase;
  }
}

.btn {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: #777;

  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;

    /* Button Animations */
    transition: all 0.2s;
    animation: moveInUp 0.8s 0.1s;
  }

  &:hover {
    /* When hovering the button */
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);
  }

  &:active {
    /* When clicking the button */
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
  }
}

// Contact section -------------------------------------------
.section-contact {
  margin: 0 auto;
  padding: 15rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
