//////////////// Technologies Section///////////////////

.technologies {
  &__container {
    max-width: 90%;
    margin: 0 25rem;
    padding: 8rem 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;

    @include respond(phone) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10rem;
    }
    @include respond(tab-port) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10rem;
    }
    @include respond(tab-land) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10rem;
    }
  }
  &__primary {
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 0.6rem;
    text-transform: uppercase;

    justify-content: start;
    margin-bottom: 7rem;
    color: #fff;
    transition: all 0.4s;
    &:hover {
      transform: translateY(-1.5rem) scale(1.02);
    }
  }
  // TECHNOLOGIES CARDS GRID
  .technologies__cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);

    .technologies__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border-radius: 2px;
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 0.6rem;
      padding: 3rem 8rem;

      box-shadow: 0 2rem 5rem rgba(black, 0.15);
      background-color: #fff;
      transition: all 0.5s;

      &-logo {
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;

        width: 12rem;
        height: 100%;
        z-index: 100;
      }

      &:hover {
        transform: translateY(-0.8rem) scale(1.02);
      }
      &-description {
        justify-content: center;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        color: #777;
        font-weight: 400;
      }
    }
  }
  // TECHNOLOGIES DESCRIPTION
  .technologies__description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 5rem;

    font-size: 2rem;
    letter-spacing: 0.4rem;
    color: #fff;

    @include respond(phone) {
      font-size: 2.5rem;
      padding: 0;
    }
    @include respond(tab-port) {
      font-size: 3rem;
      padding: 0;
    }
  }
}

// ////////////////////////////////////////////// TECHNOLOGIES UTILITIES //////////////////////////////////

// -----------------------------Technologies Section SVG shape divider----------------------------------------
// Top SVG
.technologies {
  position: relative;

  .custom-shape-divider-top-1645678340 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  .custom-shape-divider-top-1645678340 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 139px;
  }
  .custom-shape-divider-top-1645678340 .shape-fill {
    fill: #ffffff;
  }
}

// -------------------------Technologies Icons-------------------------------
.technologies-container {
  position: relative;
  .tech-icons {
    width: 50rem;
    height: 100%;
    font-weight: 100;
    opacity: 5%;
    z-index: -1;
  }
  .tech-icon-1 {
    position: absolute;
    top: -20%;
    left: 8%;
  }
  .tech-icon-2 {
    position: absolute;
    top: 9%;
    right: 8%;
  }
}

// -------------------------Technology cards Background SVG-------------------------------
.html {
  position: relative;
  overflow: hidden;
  .html__background {
    position: absolute;
    top: -8rem;
    left: -10rem;

    width: 25rem;
    height: 100%;
    opacity: 3%;
  }
}
.css {
  position: relative;
  overflow: hidden;
  .css__background {
    position: absolute;
    top: 7rem;
    left: 7rem;

    width: 25rem;
    height: 100%;
    opacity: 3%;
  }
}
.js {
  position: relative;
  overflow: hidden;
  .js__background {
    position: absolute;
    top: -3rem;
    left: 7rem;

    width: 25rem;
    height: 100%;
    opacity: 3%;
  }
}
.sass {
  position: relative;
  overflow: hidden;
  .sass__background {
    position: absolute;
    top: 12rem;
    left: -1.1rem;

    width: 25rem;
    height: 100%;
    opacity: 3%;
  }
}
.react {
  position: relative;
  overflow: hidden;
  .react__background {
    position: absolute;
    top: 9rem;
    left: -10rem;

    width: 25rem;
    height: 100%;
    opacity: 3%;
  }
}
.tailwind {
  position: relative;
  overflow: hidden;
  .tailwind__background {
    position: absolute;
    top: -3rem;
    left: -3rem;

    width: 25rem;
    height: 100%;
    opacity: 3%;
  }
}
.git {
  position: relative;
  overflow: hidden;
  .git__background {
    position: absolute;
    top: -8rem;
    left: -10rem;

    width: 25rem;
    height: 100%;
    opacity: 3%;
  }
}
.node {
  position: relative;
  overflow: hidden;
  opacity: 40%;

  .node__background {
    position: absolute;
    top: 10rem;
    left: 3rem;

    width: 25rem;
    height: 100%;
    opacity: 3%;
  }
}
