// Button

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;

    /* Button Animations */
  }

  &:hover {
    cursor: pointer;

    /* When hovering the button */
    // box-shadow: 0 1rem 2rem rgba(#323031, 0.2);
  }
}

// About Icons
.style-icons {
  width: 50rem;
  height: 100%;
  font-weight: 100;
  opacity: 7%;
  z-index: -1;
}
.section-about {
  position: relative;
}
.section-about {
  .icon-1 {
    position: absolute;
    top: -20%;
    left: 8%;
  }

  .icon-2 {
    position: absolute;
    top: 9%;
    right: 8%;
  }
}

// Technologies Section SVG shape divider
// Top SVG
.technologies {
  position: relative;

  .custom-shape-divider-top-1645678340 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1645678340 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 139px;
  }

  .custom-shape-divider-top-1645678340 .shape-fill {
    fill: #ffffff;
  }
}

// Technologies Icons
.technologies-container {
  position: relative;
  .tech-icons {
    width: 50rem;
    height: 100%;
    font-weight: 100;
    opacity: 5%;
    z-index: -1;
  }
  .tech-icon-1 {
    position: absolute;
    top: -20%;
    left: 8%;
  }
  .tech-icon-2 {
    position: absolute;
    top: 9%;
    right: 8%;
  }
}

// Technology cards Background SVG
.html {
  position: relative;
  overflow: hidden;

  .html__background {
    position: absolute;
    top: -8rem;
    left: -10rem;

    width: 25rem;
    height: 100%;
    opacity: 3%;
  }
}

.css {
  position: relative;
  overflow: hidden;
  .css__background {
    position: absolute;
    top: 7rem;
    left: 7rem;

    width: 25rem;
    height: 100%;
    opacity: 3%;
  }
}

.js {
  position: relative;
  overflow: hidden;
  .js__background {
    position: absolute;
    top: -3rem;
    left: 7rem;

    width: 25rem;
    height: 100%;
    opacity: 3%;
  }
}

.sass {
  position: relative;
  overflow: hidden;
  .sass__background {
    position: absolute;
    top: 12rem;
    left: -1.1rem;

    width: 25rem;
    height: 100%;
    opacity: 3%;
  }
}

.react {
  position: relative;
  overflow: hidden;
  .react__background {
    position: absolute;
    top: 9rem;
    left: -10rem;

    width: 25rem;
    height: 100%;
    opacity: 3%;
  }
}

.gmail-icon,
.linkedin-icon,
.phone-icon {
  width: 2.5rem;
  height: 100%;
}
