// Button
.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

    /* Button Animations */
  }

  &:hover {
    cursor: pointer;

    /* When hovering the button */
    // box-shadow: 0 1rem 2rem rgba(#323031, 0.2);
  }
}

.style-icons {
}

.section-about {
  position: relative;
  .icon-1 {
    position: absolute;
    top: 0%;
    left: 10%;
  }
  .icon-2 {
    position: absolute;
    top: 0%;
    right: 10%;
  }
  .icon-3 {
    position: absolute;
    top: 0%;
    right: 10%;
  }
}
