// Button
.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;

    /* Button Animations */
  }

  &:hover {
    cursor: pointer;

    /* When hovering the button */
    // box-shadow: 0 1rem 2rem rgba(#323031, 0.2);
  }
}

.style-icons {
  width: 45rem;
  height: 100%;
  font-weight: 100;
  opacity: 5%;
  z-index: -1;
}
.main-container {
  position: relative;
  .section-about {
    .icon-1 {
      position: absolute;
      top: -20%;
      left: 9%;
    }

    .icon-2 {
      position: absolute;
      top: -4%;
      right: 11%;
    }
  }
}
